// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

// Variables
@import 'variables';
@import 'slider.css';
@import 'nice-select';
@import 'dropzone.css';



// Bootstrap
@import '../../node_modules/bootstrap/scss/bootstrap';


@import url('https://use.fontawesome.com/releases/v5.2.0/css/all.css');
@import url('https://cdnjs.cloudflare.com/ajax/libs/bootstrap-sweetalert/1.0.1/sweetalert.css');
@import url('https://netdna.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css');
@import url('https://sorgalla.com/lity/dist/lity.css');


@import 'resources/sass/styleSheet';
