// Variables
@import 'variables';


body {
  background-color: #f8fafc;
  font-family: 'BYekan' !important;
}

.navbar {
  background-color: $body-bg;
}

.cardHead {
  direction: ltr;
  background-color: $body-bg;
}

.dir {
  direction: rtl;
}

.swal-overlay {
  background-color: $body-bg;
}

.right {
  direction: ltr;
}

.left {
  direction: rtl;
}

.table {
  direction: rtl;
  background-color: lightskyblue;
  text-align: right;
}

.main {
  margin-top: 50px;
  direction: rtl;
}

.mainpage {
  background-color: white;
}

.first-data {
  margin-right: 50px;
  display: inline-block;
  padding: 3px;
}

.second-data {
  display: inline-block;
  padding: 3px;
  float: right;
  margin-right: 20px;
}


.third-data {
  position: absolute;
  left: 100px;
  padding: 3px;
  display: inline-block;
}

.first-data:hover, .second-data:hover, .third-data:hover {
  background-color: #ef5a88;
}


/* if user has logged in or registered */

.user-profile {
  border: 0;
  border-radius: 0;
  background-color: #282828;
  color: white !important;
  margin-top: 3px;
}

.user-profile a {
  color: white !important;
  text-decoration: none;
  line-height: 35px;
}

.user-profile li:hover {
  background-color: #ef5a88;
}


/* Add a black background color to the top navigation bar */
.topnav {
  overflow: hidden;
  background-color: white;
}

/* Style the search box inside the navigation bar */
.topnav input[type=text] {
  float: right;
  padding: 6px;
  border: groove;
  border-radius: 10px;
  margin-top: 15px;
  margin-right: 100px;
  font-size: 17px;
}

.magnifier {
  float: right;
  padding: 6px;
  margin-top: 25px;
  font-size: 17px;
  margin-right: -32px;
  color: grey;
}

.pad-zero {
  padding: 0px;
}

.center {
  float: right;
  margin-left: auto;
  margin-right: 25%;
}

/* main menu of homepage */

.color-link:focus, .color-link:hover {
  color: cornflowerblue;
  background-color: white;
}

.dropdown-large {
  color: black;
}

/* effects of brands thumbnails in Menu */

.overlay {
  position: absolute;
  bottom: 100%;
  left: 0;
  right: 0;
  background-color: $body-bg;
  overflow: hidden;
  width: 100%;
  height: 0;
  transition: .5s ease;
}

.menu-box {
  width: 90%
}

.brand {
  float: right;
  position: relative;
}

.text {
  color: white;
  text-transform: uppercase;
  font-size: 20px;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  text-align: center;
}

.image {
  height: 30px;
  width: 90%;
}

/*  slider CSS */

.pics {
  width: 100%;
  padding: 0;
  margin-bottom: -15%;
}

.pics img {
  width: 100%;
  height: 75%;
  top: 0;
  left: 0
}

.cycle-prev, .cycle-next {
  position: absolute;
  top: -10%;
  width: 30%;
  opacity: 0;
  filter: alpha(opacity=0);
  z-index: 800;
  height: 100%;
  cursor: pointer;
}

.cycle-prev {
  left: 0;
  background: url('/images/main/left.png') 50% 50% no-repeat;
}

.cycle-next {
  right: 0;
  background: url('/images/main/right.png') 50% 50% no-repeat;
}

.cycle-prev:hover, .cycle-next:hover {
  opacity: .7;
  filter: alpha(opacity=70)
}

.disabled {
  opacity: .5;
  filter: alpha(opacity=50);
}

.cycle-pager {
  text-align: center;
  width: 100%;
  z-index: 500;
  position: absolute;
  bottom: 30%;
  overflow: hidden;
}

.cycle-pager span {
  font-size: 50px;
  width: 16px;
  height: 16px;
  display: inline-block;
  color: #ddd;
  cursor: pointer;
}

.cycle-pager span.cycle-pager-active {
  color: #43c8d8;
}

.cycle-pager > * {
  cursor: pointer;
}

/*  banner under slider CSS */


.flex-container {
  display: flex;
  justify-content: space-around;

}

/*  product carousel */

#prev2, #next2 {
  text-decoration: none;
  display: inline-block;
  padding: 50px 16px;
}

#prev2:hover, #next2:hover {
  background-color: #43c8d8;
  color: black;
  text-decoration: none;

}

.prev {
  background-color: #e3e3e3;
  color: white;
  position: relative;
  left: 1px;
  top: -200px;
}

.next {
  background-color: #e3e3e3;
  color: white;
  position: relative;
  right: 1px;
  top: -200px;
  float: right;
}

#pro {
  padding: 10px;
}

/*  discount & calculation section */


.discount {
  color: #000;
  text-align: center;
  top: 14px;
  width: 40px;
  border-top: 54px solid #f05a88;
  border-right: 61px solid transparent;
  position: absolute;
  display: none;
}

.discountNum {
  text-align: center;
  width: 40px;
  float: right;
  position: absolute;
  top: -45px;
  color: white;
  transform: rotate(-45deg);
  display: none;
}

.pro-desc {
  white-space: nowrap;
  width: 100px;
  overflow: hidden;
  text-overflow: ellipsis;
  direction: rtl;
  position: relative;
  right: -20%;
  color: gray;
  cursor: help;
}

/*  promise section */

.promise {
  color: #F04D7D

}

/*  footer link with no underline */

.no-underline:hover {
  text-decoration: none;
}

/*  product-image edit-delete part */


.close {
  cursor: pointer;
  position: relative;
  right: 70px;
  transform: translate(0%, -50%);
}

.close:hover {
  background: brown;
}

.close-pro-modal {
  position: relative;
  top: 5px;
}

.close-pro-des {
  position: relative;
  top: 5px;
}


/*  product-image in filter page through helper */


.dis {
  color: #000;
  text-align: center;
  top: 5px;
  left: 2px;
  width: 40px;
  border-top: 54px solid #f05a88;
  border-right: 61px solid transparent;
  position: absolute;
  display: none;
  z-index: 10;
}

.disnumer {
  text-align: center;
  width: 40px;
  float: right;
  position: absolute;
  top: -45px;
  left: 5px;
  color: black;
  transform: rotate(-45deg);
  display: none;
  z-index: 10;

}

.pro-desc-fil {
  white-space: nowrap;
  width: 100px;
  overflow: hidden;
  text-overflow: ellipsis;
  direction: rtl;
  color: gray;
  cursor: help;
}


/*  product-image in filter page overlay */

.alternate {
  position: absolute;
  right: 0px;
  display: block;
  background-color: white;
  -webkit-transition: opacity 1s;
  -moz-transition: opacity 1s;
  -ms-transition: opacity 1s;
  -o-transition: opacity 1s;
  transition: opacity 1s;
  height: 250px;
}

.alternate:hover {
  opacity: 0;
}

.main-thumb {
  height: 250px;

}

.accordion .card-header .card-link.collapsed:after {
  /* symbol for "collapsed" panels */
  content: "\f067";
}

.card-link {
  color: black;
}

.accordion .card-header .card-link:after {
  font-family: 'FontAwesome';
  content: "\f068";
  float: left;
  color: black;
}

.title-filter {
  color: #666;
  border-bottom: 1px solid #ddd;
  position: relative;
}


.sort-title {
  font-size: small;
}

#min-num #max-num {
  font-family: 'BYekan';
}


/*effects of modal-box in filter page*/
.modal-slide {
  min-height: 550px;
  width: auto;
}

.select {
  border-color: lightslategrey;
  border-style: dotted;
  border-width: 1px;
}

.select:hover {
  border-color: #43C8D8;
  border-style: solid;
  border-width: 2px;
}

.prev-pre {
  position: absolute;
  top: 1px;
  right: 65px;
  color: white;
  padding: 5px !important;
  z-index: 100;
}

.next-pre {
  position: absolute;
  top: 93%;
  right: 65px;
  padding: 5px !important;
  z-index: 100;
}

.zoom {

  border: double lightgrey;
  width: 275px;
  position: relative;
  top: 40px;
  cursor: pointer;
}

.discount-slide {
  position: absolute;
  left: 0px;
  top: -1px;
  color: #000;
  text-align: center;
  width: 110px;
  border-top: 110px solid #f05a88;
  border-right: 110px solid transparent;
}

.discount-modal-num {
  text-align: center;
  width: 40px;
  float: right;
  position: absolute;
  right: -70px;
  top: -100px;
  color: black;
  transform: rotate(-45deg);
  font-size: xx-large;

}

.brand-logo {
  position: absolute;
  right: 200px;
  top: 420px;
}

.pro-name {
  position: absolute;
  right: 450px;
  top: 10px;
}

.purchase-button {
  color: #fff;
  width: 200px;
  height: auto;
  line-height: 25px;
  margin-left: 15px;
  margin-bottom: 10px;
  background-color: #ef5a88;
}

.icon-pro {
  width: 200px;
  opacity: .6;
}

.details-button {
  width: 150px;
  line-height: 25px;
  margin-left: 15px;
  position: relative;
  left: -170px;
  bottom: 240px;

}

/* styles of filter > images size */

[id^="sizeList"] {
  pointer-events: none;
  opacity: 0;
  visibility: hidden;
  padding: 5px;
}

[id^="sizeList"] > a {
  display: inline-block;
  background-color: #fff;
  border: 1px solid #999;
  margin: 2px;
  padding-right: 5px;
  padding-left: 5px;
  line-height: 22px;
  font-size: 12px;
  color: #888;
  opacity: 0;
  transition: all .2s ease-in-out;
}

[id^="sizeList"] > a:nth-child(1) {
  transition-delay: .1s;
}

[id^="sizeList"] > a:nth-child(2) {
  transition-delay: .5s;
}

[id^="sizeList"] > a:nth-child(3) {
  transition-delay: .8s;
}

[id^="sizeList"] > a:nth-child(4) {
  transition-delay: 1s;
}

[id^="sizeList"] > a:nth-child(5) {
  transition-delay: 1.2s;
}

[id^="sizeList"] > a:nth-child(6) {
  transition-delay: 1.32s;
}

[id^="sizeList"] > a:nth-child(7) {
  transition-delay: 1.45s;
}

/* cart color bg */

.cartColor {
  background-color: #ef5a88;

}

.curs {
  cursor: pointer;
}

/* product page */


.zoomPro {
  border: double lightgrey;
  width: 375px;
  top: 40px;
  cursor: pointer;
}

.pre-arrow {
  position: absolute;
  top: 100px;
  right: 20px;
  color: white;
  padding: 5px !important;
  z-index: 100;
}

.next-arrow {
  position: absolute;
  bottom: 100px;
  right: 20px;
  padding: 5px !important;
  z-index: 100;
}


.icon-product {
  width: 280px;
  opacity: .6;
}

.tooltip > .tooltip-inner {
  background-color: white;
  color: black;
  border: 1px solid lightgrey;
  padding: 7px;
  font-size: 12px;
  font-family: 'BYekan';
}

.table {
  background-color: white;
  direction: rtl;
}

.table td {
  color: grey;
}

.discounted-sum {
  color: white;
  font-size: x-small;
  background-color: grey;
  padding: 5px;
  line-height: 24px;
  border-right: 6px solid #fff;
  border-left: 6px solid transparent;
  border-top: 6px solid transparent;
  border-bottom: 6px solid transparent;

}

.discounted-rate {
  color: white;
  font-size: small;
  position: relative;
  z-index: 2;
  right: 195px;
  top: 35px;
}

.discounted-back {
  position: relative;
  font-size: xx-large;
  bottom: -12px;
  left: -150px;
}

.btnp {
  cursor: pointer;
}


/* shopping cart steps  */


.wizard {
  margin: 20px auto;
  background: #fff;
}

.wizard .nav-tabs {
  position: relative;
  margin: 40px 100px;
  margin-bottom: 0;
  border-bottom-color: #e0e0e0;
}

.step-note {
  margin-right: 75px;
}

.note-box {
  background-color: #eeeeee;
  width: auto;
  position: relative;
  height: 200px;
  left: 6%;
}

.log {
  margin-right: 5%;
  margin-left: 0;
  padding: 0;
  position: relative;
}

.wizard > div.wizard-inner {
  position: relative;
}

.connecting-line {
  height: 5px;
  background: #65c9d8;
  position: absolute;
  width: 60%;
  margin: 0 auto;
  left: 0;
  right: 0;
  top: 50%;
}

.wizard .nav-tabs > li.active > a,
.wizard .nav-tabs > li.active > a:hover,
.wizard .nav-tabs > li.active > a:focus {
  color: #555555;
  cursor: default;
  border: 0;
  border-bottom-color: transparent;
}

span.round-tab {
  width: 70px;
  height: 70px;
  line-height: 70px;
  display: inline-block;
  border-radius: 100px;
  background: #fff;
  border: 2px solid #e0e0e0;
  z-index: 20;
  position: absolute;
  left: 0;
  text-align: center;
  font-size: 25px;
}

span.round-tab i {
  color: #555555;
  z-index: 30;
}

.wizard li a.active span.round-tab {
  background: #fff;
  border: 2px solid #65c9d8;
}

.wizard li a.active span.round-tab i {
  color: #65c9d8;
}

span.round-tab:hover {
  color: #333;
  border: 2px solid #333;
}

.wizard .nav-tabs > li {
  width: 50%;
}

.wizard li a:after {
  content: " ";
  position: relative;
  left: 46%;
  top: -20px;
  opacity: 0;
  margin: 0 auto;
  bottom: 0px;
  border: 5px solid transparent;
  border-bottom-color: #65c9d8;
  transition: 0.1s ease-in-out;
}

.wizard li.active.nav-item:after {
  content: " ";
  position: relative;
  left: 46%;
  top: -20px;
  opacity: 1;
  margin: 0 auto;
  bottom: 0px;
  border: 10px solid transparent;
  border-bottom-color: #65c9d8;
}

.wizard .nav-tabs > li a {
  width: 70px;
  height: 70px;
  margin: 20px 100px;
  border-radius: 100%;
  padding: 0;
  position: relative;
}

.wizard .nav-tabs > li a:hover {
  background: transparent;
}

.wizard .tab-pane {
  position: relative;
  padding-top: 50px;
}


.wizard h3 {
  margin-top: 0;
}


/* shopping cart steps  */

.connecting-line-credit {
  height: 5px;
  background: grey;
  position: absolute;
  width: 60%;
  margin: 0 auto;
  left: 0;
  right: 0;
  top: 50%;
}

.connecting-line-credit-green {
  height: 5px;
  background: mediumseagreen;
  position: absolute;
  width: 30%;
  margin: 0 auto;
  left: 28%;
  right: 0;
  top: 50%;
  display: none;
}

.connecting-line-credit-completion {
  height: 5px;
  background: mediumseagreen;
  position: absolute;
  width: 60%;
  margin: 0 auto;
  left: 0;
  right: 0;
  top: 50%;
  display: none;
}

.step-note-credit {
  margin-right: 100px;
}


.wizard .nav-tabs {
  position: relative;
  margin: 40px 30px;
  margin-bottom: 0;
  border-bottom-color: #e0e0e0;
}

span.round-tab-credit {
  width: 70px;
  height: 70px;
  line-height: 70px;
  display: inline-block;
  border-radius: 100px;
  background: #fff;
  border: 2px solid #e0e0e0;
  z-index: 20;
  position: absolute;
  left: 0;
  text-align: center;
  font-size: 25px;
}

span.round-tab-credit i {
  color: #555555;
  z-index: 30;
}

.wizard li a.active span.round-tab-credit {
  background: #fff;
  border: 2px solid #65c9d8;
}

.wizard li a.active span.round-tab-credit i {
  color: #65c9d8;
}

span.round-tab-credit:hover {
  color: #333;
  border: 2px solid #333;
}

.wizard .nav-tabs > li {
  width: 33%;
}

.shopping-table {
  margin-right: 3%;
  border: 1px dotted #ddd;
  text-align: center;
}

.shopping-table th {
  background-color: #f2f5f7;
  width: 30%;

}

.shopping-table td {
  height: 200px;
  color: black;
  padding-top: 0;
  margin-top: 0;
  padding-bottom: 0;
  margin-bottom: 0;


}

.shopping-table td:nth-child(3n) {
  text-align: right;

}

.closing-cross {
  background-color: #f2f5f7;
  height: 200px;
  cursor: pointer;
}

.closing-cross:hover {
  opacity: 0.5;
}

.closing-cross:active {
  background-color: red;
}

.fa-plus, .fa-minus {
  cursor: pointer;

}

.icon-pro {
  width: 60%;
  opacity: .6;
}

/*     timer & message     */

.basket-message {
  text-align: justify;
}

.basket {
  margin-right: 70px;
}

.basket .clock {
  position: relative;
  border: 3px solid #ef5a88;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  top: 10px;
  right: 70px;
}

.basket .clock .clock-hand {
  position: absolute;
  background-color: #ef5a88;
  width: 2px;
  top: 50%;
  left: 49%;
  transform: translate(-50%, -50%);
  transform-origin: top center;
}

.basket .clock .clock-hand-short {
  height: 9px;
  animation: timer 10s linear infinite;
}

.basket .clock .clock-hand-long {
  height: 11px;
  animation: timer 3s linear infinite;
}

.basket .clock::after {
  content: "";
  position: absolute;
  top: -7px;
  left: 50%;
  width: 14px;
  height: 3px;
  transform: translate(-50%);
  background-color: #ef5a88;
}

@keyframes timer {
  0% {
    -webkit-transform: rotate(-180deg);
    transform: rotate(-180deg);
  }
  100% {
    -webkit-transform: rotate(180deg);
    transform: rotate(180deg);
  }
}

.next-cart1:hover, .next-cart2:hover, .next-cart3:hover {
  background-color: green;

}

.btn-shopping-address {
  background-color: #65c9d8 !important;
  color: white !important;
  width: 150px;
  padding: 10px;
}

.fa-map-marker {
  position: relative;
  top: 5px;
}

.table-address {
  border: 5px dotted #65c9d8 !important;
}

.table-address-remove, .table-address-edit, .table-address-radio {
  background-color: rgba(101, 201, 216, 0.4);
  cursor: pointer;
}

.site-green {
  background-color: rgb(101, 201, 216);

}

.table-price-final {
  margin-top: 5px;
  background-color: rgba(48, 113, 169, 0.4);
}

.table-price-final tr:nth-child(3) {
  font-size: larger;
  background-color: #3071a9;
}

.table-address-radio-card {
  background-color: rgba(48, 113, 169, 0.5);
  cursor: pointer;
}

// payment receipt
.text-20 {
  font-size: 5.75rem !important;
}

.text-8 {
  font-size: 2rem !important;
}

.text-4 {
  font-size: 1.125rem !important;
}

.text-3 {
  font-size: 1rem !important;
}

.btn:not(.btn-link):hover {
  -webkit-box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.3);
  box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.3);
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

.font-weight-500 {
  font-weight: 500 !important;
}


/* if user has logged in or registered */

.user-profile {
  border: 0;
  border-radius: 0;
  background-color: #282828;
  color: white !important;
  margin-top: 3px;
}

.user-profile a {
  color: white !important;
  text-decoration: none;
  line-height: 35px;
}

.user-profile li:hover {
  background-color: #ef5a88;
}

// admin profile user style

.profile-card-menu {
  background-color: #286090;
  color: white !important;
}

.text-user-info {
  color: #286090;
}

.invalid {
  color: red;
  font-size: small;
}


@media screen and (max-width: 600px) {
  .third-data {
    display: none;
  }

  .topnav input[type=text] {
    float: none;
    display: block;
    text-align: right;
    width: 50%;
    padding: 14px;
    margin-top: 15px;
    margin-right: 100px;
    background-color: #e9e9e9;
  }
  .topnav input[type=text] {
    border: 1px solid #ccc;
  }
  .center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    float: none;
  }

  /*  thumbnails & submenus while resizing */
  .brand {
    width: 30%;
    padding: 10px;
    margin: 5% auto 5% auto;
    text-align: center;
  }

  .menu-fontsize {
    direction: rtl;
    text-align: right;
  }

  .brand-cover-menu {
    width: 100px;
    min-height: 40px;
    padding: 10px;
  }

  .image-brand-menu {
    width: 50px

  }

  /*  banners resizing */

  .banner {
    width: 60%;
  }

  .smallBanner {
    width: 50%;
    margin-left: 2.5%;
  }

  /*  promise note */

  .promise-note {
    padding-left: 10%;
    padding-right: 10%;

  }

  /*  logos ENAMAD note */

  .enamd {
    display: none;
  }

  /*  product filter responsive plan */


  .brand-logo {
    right: 310px;
  }
  .pro-name {
    position: absolute;
    right: 200px;
    top: 10px;
  }
  .modal-slide {
    min-height: 800px;
    width: auto;
  }
  .next-pre {
    visibility: hidden;
  }
  .details-button {
    position: absolute;
    bottom: -250px;
    left: -23px;
    width: 100px;
  }
  .icon-pro {
    position: absolute;
    bottom: -77px;
    right: 125px;
    width: 100px
  }

  .first-col {
    display: none;
  }

  /*  shopping cart steps */


  .wizard {
    width: 90%;
    height: auto !important;
  }

  span.round-tab {
    font-size: 16px;
    width: 50px;
    height: 50px;
    line-height: 50px;
  }
  .wizard .nav-tabs {
    margin: 40px auto;
  }

  .wizard .nav-tabs > li a {
    width: 50px;
    height: 50px;
    line-height: 50px;
  }

  .wizard li.active:after {
    content: " ";
    position: absolute;
    left: 35%;
  }
  .connecting-line {
    width: 60%;
    left: 0;
    right: 20%;
  }

  /*  shopping cart steps */
  span.round-tab-credit {
    font-size: 16px;
    width: 50px;
    height: 50px;
    line-height: 50px;
  }


  .connecting-line-credit, .connecting-line-credit-completion {
    width: 65%;
    right: 20px;
  }
  .connecting-line-credit-green {
    width: 40%;
    right: 10px;
  }

  .wizard .nav-tabs > li {
    position: relative;
    left: 80px;

  }

  .icon-pro {
    position: absolute;
    top: 5px;
    z-index: 100;
    opacity: 0.1;
  }

  .fa-plus {
    margin-right: 10px;

  }

  .fa-minus {
    margin-left: 10px;

  }
  .basket .clock {
    margin: 5px 40px 20px 0;
  }
  .next-cart1, .next-cart2 {
    margin: 5px 120px 20px 0;

  }
  .alternate {
    display: none !important;
  }


}


@media screen and (max-width: 1200px) {
  .alternate {
    display: none;
  }

}


@media screen and (min-width: 600px) and (max-width: 1100px) {

  /*  product details display */

  .zoomPro {
    display: none;
  }

  .brand-logo-pro {
    display: none;
  }

  .alternate {
    display: none !important;
  }

}


//page loader

.no-js #loader { display: none;  }
.js #loader { display: block; position: absolute; left: 100px; top: 0; }
.se-pre-con {
  position: fixed;
  left: 0px;
  top: 0px;
  width: 100%;
  height: 100%;
  z-index: 9999;
  background: url(images/main/Preloader_11.gif) center no-repeat #fff;
}







