<template>
    <div class="container-fluid">
        <div class="row">
            <div class="col-12">
                <slot></slot>
            </div>
        </div>

        </div>

</template>

<script>
    export default {
        name: "commenpanel"
    }
</script>

<style scoped>
    .container-fluid {
        margin-top: 50px;
        background-color: white;
    }
    .table  {
        direction: rtl;
        background-color: #C4E0EB;
        text-align: right;
    }

    h3 {
        text-align: center;
        margin-bottom: 30px;
    }


</style>