<template>
    <div class="space">
        <footer class="page-footer font-small fixed-bottom">
            <p class="footer-copyright text-center py-1" title="Arash Rostami">Designed & Developed by LaraVue© </p>
        </footer>
    </div>
</template>

<script>
    export default {
        name: "FooterPanel"
    }
</script>

<style scoped>
    .page-footer {
        height: 32px;
        background-color: #3490DC;
    }
    .space{
        margin-top: 20px;

    }

</style>