<template>
    <div>
        <div class="container-fluid" >
            <div class="row main-header">
                <div class="col-1 bg-primary float-right" title="خروج از پنل">
                    <form class="form-inline my-sm-2 float-right" action="">
                        <slot name="logOut"></slot>
                    </form>
                </div>
                    <div class="col-2 bg-primary float-right" title="زمان">
                            <button class="btn btn-lg btn-dark my-2 p-1" id="clock"><h6 v-html="clock"></h6></button>
                    </div>
                <div class="col-2 bg-primary">
                    <ul class="nav nav-pills">
                        <li class="nav-item "  title="کاربر تازه عضو">
                            <a class="nav-link active" href="#">
                                <i class="far fa-user" title="کاربر تازه عضو"></i>
                                <sub>
                                    <span class="badge badge-dark">
                                        <slot name="countUser"></slot>
                                    </span>
                                </sub>
                            </a>
                        </li>
                    </ul>
                </div>
                <div class="col-2 bg-primary">
                    <ul class="nav nav-pills">
                        <li class="nav-item " title="پیام انتشار نیافته">
                            <a class="nav-link active" href="#">
                                <i class="far fa-envelope" title="پیام انتشار نیافته"></i>
                                <sub>
                                    <span class="badge badge-dark">
                                       <slot name="countComment"></slot>
                                    </span>
                                </sub>
                            </a>
                        </li>
                    </ul>
                </div>
                <div class="col-2 bg-primary">
                    <ul class="nav nav-pills">
                        <li class="nav-item " title="خرید اخیر بررسی نشده">
                            <a class="nav-link active" href="#">
                                <i class="fas fa-tasks" title="خرید اخیر بررسی نشده"></i>
                                <sub>
                                    <span class="badge badge-dark">
                                        <slot name="countPurchase"></slot>
                                    </span>
                                </sub>
                            </a>
                        </li>
                    </ul>
                </div>
                <div class="col-3 bg-primary float-right">
                    <ul class="nav nav-pills float-right ">
                        <li class="nav-item float-right" title="منوی پنل">
                            <a class="nav-link active float-right" href="#">
                                <i class="fab fa-windows float-right" @click="openNav"></i>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>

        </div>

    </div>

</template>

<script>

    export default {
        name: 'headrpanel',
        data: function () {
            return {
                clock: 'در حال بارگذاری',
            }
        },
        mounted(){
            this.myClock();
        },
        methods:{
            openNav: ()=>{
                document.getElementById("mySidenav").style.width = "250px";
            },
            myClock(){
                let self=this;
                setInterval(function(){
                let today = new Date();
                let h = today.getHours();
                let m = today.getMinutes();
                let s = today.getSeconds();
                    let weekday = new Array(7);
                    weekday[0] = "یکشنبه";
                    weekday[1] = "دوشنبه";
                    weekday[2] = "سه شنبه";
                    weekday[3] = "چهار شنبه";
                    weekday[4] = "پنجشنبه";
                    weekday[5] = "جمعه";
                    weekday[6] = "شنبه";
                let d =weekday[today.getDay()];
                m = self.checkTime(m);
                s = self.checkTime(s);
                    self.clock =
                    h + ":" + m + ":" + s + '<br>' + d;}, 500);
            },
            checkTime: (i)=> {
                if (i < 10) {i = "0" + i};  // add zero in front of numbers < 10
                return i;
            },
        }
    }
</script>
<style scoped>
    .main-header {
        height: 50px;
    }

    i {
        font-size: xx-large;
    }
    span{
        font-size: small;
    }

</style>