<template>
    <div class="container-fluid">
            <div class="row panel-default">
                <div class="col-md-12">
                    <slot></slot>
                </div>
            </div>
        </div>

</template>

<script>
    export default {
        name: "ordrpanel",
    }
</script>

<style scoped>
    .container-fluid {
        margin-top: 50px;
        background-color: white;
        margin-bottom: 100px!important;
    }
    .table  {
        direction: rtl;
        background-color: #C4E0EB;
        text-align: right;
    }

    h3 {
        text-align: center;
        margin-bottom: 30px;
    }


</style>