<template>
    <div id="mySidenav" class="sidenav">
        <a href="javascript:void(0)" class="closebtn" @click="closeNav">&times;</a>
        <a href="/"><i class="fas fa-tachometer-alt"></i>&nbsp;&nbsp;میزکار </a>
        <a href="#" @click="toggleCollapseUser"><i class="fas fa-users-cog"></i> &nbsp;&nbsp; مدیریت کاربران</a>
        <div :class="(userToggler == true) ? 'userShow' : 'userHide'">
            <ul class="list-unstyled">
                <li class="nav-item">
                    <a class="nav-link" href="/admin/user/create">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                        ایجاد کاربر جدید</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/admin/user">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                        مشاهده کل کاربران</a>
                </li>
            </ul>
        </div>
        <a href="#" @click="toggleCollapseProduct"><i class="fas fa-box-open"></i> &nbsp;&nbsp;مدیریت محصولات</a>
        <div :class="(productToggler == true) ? 'productShow' : 'productHide'">
            <ul class="list-unstyled">
                <li class="nav-item">
                    <a class="nav-link" href="/admin/product">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                        ایجاد محصول جدید </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/admin/product/show">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                        مشاهده کل محصولات</a>
                </li>
            </ul>
        </div>
        <a href="/admin/category" ><i class="far fa-list-alt"></i> &nbsp;&nbsp;مدیریت دسته ها</a>
        <a href="/admin/orders"><i class="fas fa-cart-arrow-down"></i> &nbsp;&nbsp;مدیریت سفارشات</a>
        <a href="#" @click="toggleCollapseQuality"><i class="fas fa-clipboard-list"></i> &nbsp;&nbsp;مدیریت برندها</a>
        <div :class="(qualityToggler == true) ? 'qualityShow' : 'qualityHide'">
            <ul class="list-unstyled">
                <li class="nav-item">
                    <a class="nav-link" href="/admin/brand/create">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                        ایجاد برند جدید</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/admin/brand">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                        مشاهده برند</a>
                </li>
            </ul>
        </div>
        <a href="#" @click="toggleCollapseDiscount"><i class="fas fa-clipboard-list"></i> &nbsp;&nbsp;مدیریت تخفیف
            ها</a>
        <div :class="(discountToggler == true) ? 'discountShow' : 'discountHide'">
            <ul class="list-unstyled">
                <li class="nav-item">
                    <a class="nav-link" href="/admin/discount/create">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                        ایجاد تخفیف جدید</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/admin/discount">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                        مشاهده تخفیف</a>
                </li>
            </ul>
        </div>
        <a href="/admin/comment"><i class="fas fa-comments"></i> &nbsp;&nbsp;مدیریت نظرات</a>
    </div>
</template>

<script>

    export default {
        name: "SideMenuPanel",
        data() {
            return {
                userToggler: false,
                productToggler: false,
                listToggler: false,
                orderToggler: false,
                qualityToggler: false,
                discountToggler: false,

            }
        },
        methods: {
            closeNav: () => {
                document.getElementById("mySidenav").style.width = "0";
            },
            toggleCollapseUser: function () {
                if (this.userToggler == false) {
                    this.userToggler = true;
                } else if (this.userToggler == true) {
                    this.userToggler = !this.userToggler;
                }
            },
            toggleCollapseProduct: function () {
                if (this.productToggler == false) {
                    this.productToggler = true;
                } else if (this.productToggler == true) {
                    this.productToggler = !this.productToggler;
                }
            },
            toggleCollapseList: function () {
                if (this.listToggler == false) {
                    this.listToggler = true;
                } else if (this.listToggler == true) {
                    this.listToggler = !this.listToggler;
                }
            },
            toggleCollapseQuality: function () {
                if (this.qualityToggler == false) {
                    this.qualityToggler = true;
                } else if (this.qualityToggler == true) {
                    this.qualityToggler = !this.qualityToggler;
                }
            },
            toggleCollapseDiscount: function () {
                if (this.discountToggler == false) {
                    this.discountToggler = true;
                } else if (this.discountToggler == true) {
                    this.discountToggler = !this.discountToggler;
                }
            },
        }
    }
</script>

<style scoped>
    .sidenav {
        height: 100%;
        width: 0;
        position: fixed;
        z-index: 1;
        top: 0;
        right: 0;
        background-color: #343A40;
        overflow-x: hidden;
        transition: 0.5s;
        padding-top: 60px;
    }

    .sidenav a {
        padding: 8px 32px;
        text-decoration: none;
        font-size: medium;
        color: #818181;
        display: block;
        transition: 0.3s;
        direction: rtl;
        float: right;
    }

    .sidenav a:hover {
        color: white;
    }

    .sidenav .closebtn {
        position: absolute;
        top: 0;
        left: 25px;
        font-size: xx-large;
        margin-right: 50px;
    }

    @-webkit-keyframes fadeIn {
        from {
            opacity: 0;
        }
        to {
            opacity: 1;
        }
    }

    @keyframes fadeIn {
        from {
            opacity: 0;
        }
        to {
            opacity: 1;
        }
    }

    .userShow, .productShow, .listShow, .qualityShow, .discountShow {
        display: block;
        -webkit-animation: fadeIn 1s;
        animation: fadeIn 1s;
    }

    .userHide, .productHide, .listHide, .qualityHide, .discountHide {
        display: none;
    }

    i {
        color: #007BFF;
    }

    li {
        line-height: 30px;
    }
</style>