<template>
    <div class="col-md-8 main mx-auto d-block">
        <div class="card ">
            <div class="card-header text-center">
                <h3>ایجاد برند</h3>
            </div>
            <div class="card-body text-center">
                <h4 class="text-right text-danger" v-text='messageOne'></h4><br>
                <div class="form-group col-md-4 mx-auto d-block">
                    <label for="">نام برند</label>
                    <input type="text" class="form-control" name="" v-model="nameBrand"
                           placeholder="" @click.once="latin"><br>
                    <label for="">نام کشور</label>
                    <select class="form-control" name="parent_id" v-model="selectBrand">
                        <option v-for="(value, key) in countryNames" :value="value">
                            {{value }}
                        </option>
                    </select><br>
                    <label for="">نام گروه</label>
                    <select class="form-control" name="parent_id" v-model="selectParent">
                        <option v-for="category in categories" :value="category.id">
                            {{category.name }}
                        </option>
                    </select><br>
                    <input type="submit" id="btnAddBrand" value="ذخیره" class="btn btn-primary"
                           @click="addBrand">
                </div>
                <hr>
                <h5 class="text-right" v-text='messageTwo'></h5><br>
                <slot></slot>
                <input type="hidden" id="demo">
                <input type="hidden" id="extraone">
                <input type="hidden" id="extratwo">
            </div>
            <div class="card-footer text-center"></div>
        </div>
    </div>
</template>

<script>
    import {myFunc} from "../../myFunc";

    export default {
        name: "BrandCreate",
        data: function () {
            return {
                countryNames: [],
                messageOne: 'در ابتدا برند را ایجاد کرده و سپس لوگو /عکس آنرا ذخیره نمایید',
                messageTwo: 'تنها یک لوگو برای هر برند ذخیره می شود',
                nameBrand: '',
                selectBrand: [],
                categories:[]

            }
        },
        props: [
            'countrylist',
            'parents'
        ],
        created() {
            var self=this;
            this.countryNames = JSON.parse(this.countrylist);
            this.categories = JSON.parse(this.parents);
            setTimeout(function(){
                    self.messageOne = "";
                },
                5000);
        },
        methods: {
            addBrand: function () {
                var self=this;
                let btn = document.getElementById("btnAddBrand");
                myFunc.saving(btn);
                axios.post('/admin/brand', {
                    brandcountry: self.selectBrand,
                    brandname: self.nameBrand,
                    parentname: self.selectParent,
                })
                    .then(function () {
                        let message = self.nameBrand;
                        myFunc.flash(message);
                    }.bind(this))
                    .catch(function (error) {
                        alert(error);
                    });
            },
            latin: function () {
               let self = 'نام برند را به انگلیسی یا لا تین پر کنید';
                myFunc.pointer(self);
            },
        },

    }
</script>

<style scoped>
    .main {
        margin-top: 50px;
        direction: rtl;
    }


</style>