<template>
    <div class="col-md-8 main mx-auto d-block" id='datetimepicker1'>
        <div class="card ">
            <div class="card-header text-center">
                <h3>ایجاد تخفیف</h3>
            </div>
            <div class="card-body text-center">
                <div class="form-group col-md-4 mx-auto d-block">
                    <label class="text-right">نام تخفیف</label>
                    <input type="text" class="form-control" name="" v-model="discountName"
                           placeholder="مناسبت یا علت تخفیف ..."><br>
                    <label class="text-right">مقدار تخفیف</label>
                    <input type="text" class="form-control" name="" v-model="discountValue"
                           placeholder="میزان تخفیف  ..." @focus.once="alert"><br>
                    <label class="text-right">کد تخفیف</label>
                    <input type="text" class="form-control" name="" v-model="discountCode"
                           placeholder=""><br>
                    <label class="text-right">نام محصول</label>
                    <select class="form-control" v-model="itemID" >
                        <option v-for="item in product" :value="item.id">{{ item.name }}</option>
                    </select>
                        <br>
                    <label class="text-right">تاریخ شروع</label>
                    <custom-date-picker v-model="date.start"></custom-date-picker>
                    <br>
                    <label class="text-right">تاریخ پایان</label>
                    <custom-date-picker v-model="date.end"></custom-date-picker>
                    <br><br>
                    <input type="submit" id="btnAddDiscount" value="ذخیره" class="btn btn-primary"
                           @click="addDiscount">
                </div>
                <hr>
            </div>
            <div class="card-footer text-center"></div>
        </div>
    </div>
</template>

<script>

    import {myFunc} from "../../myFunc";

    export default {
        name: "DiscountCreate",
        data: function () {
            return {
                discountName: '',
                discountCode: '',
                discountValue: '',
                date: {
                    start: '',
                    end: ''
                },
                product:[],
                itemID:[]
            }
        },
        created() {
            this.products()
        },
        methods: {
            addDiscount: function () {
                let btn = document.getElementById("btnAddDiscount");
                myFunc.saving(btn);
                axios.post('/admin/discount/store', {
                    discountName: this.discountName,
                    discountValue: this.discountValue,
                    discountCode: this.discountCode,
                    discountProduct: this.itemID,
                    discountBeginDate: this.date.start,
                    discountEndDate: this.date.end,
                })
                    .then(function () {
                        let message = this.itemID;
                        myFunc.flash(message);
                    }.bind(this))
                    .catch(function (error) {
                        alert(error);
                    });
            },
            alert: function () {
                let message = 'میزان تخفیف را بدون درج درصد وارد نمایید';
                myFunc.pointer(message);
            },
            products: function(){
                axios.get('/admin/discount/products')
                    .then(response => (this.product = response.data));

            }
        },

    }
</script>


<style scoped>

</style>