<template>
    <div class="col-md-12 main" id="drop">
        <div class="card">
            <div class="card-header text-center">
                <h3> آپلود تصاویر سایت</h3>
            </div>
            <div class="card-body">
                <ul class="nav nav-tabs">
                    <li class="nav-item">
                        <a class="nav-link active" data-toggle="tab" href="#menu1">ساخت اسلایدر</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" data-toggle="tab" href="#menu2"> ساخت بنر</a>
                    </li>
                </ul>
                <div class="tab-content text-right">
                    <div class="tab-pane container active" id="menu1">
                        <div class="form-group col-md-4 left">
                            <label for="">نام</label>
                            <input type="text" class="form-control" name="" id="nameslide"
                                   placeholder=""><br>

                            <label for="parent_id">توضیحات </label>
                            <input type="text" class="form-control" name="" id="descript"
                                   placeholder=""><br>
                        </div>

                        <div class="form-group col-md-4 left">
                            <label for="parent_id">انتخاب برند </label>
                            <select class="form-control" name="" id="selectbrand">
                                <option v-for="brand in brands" :value="brand.id">
                                    {{ brand.name }}
                                </option>
                            </select><br>
                        </div>

                        <div class="form-group col-md-4 left">
                            <label for="">دسته اصلی کالا</label>
                            <select class="form-control" name="" id="selectparent">
                                <option v-for="parent in parents" :value="parent.id">
                                    {{ parent.name }}
                                </option>
                            </select><br><br>
                            <slot></slot><br>
                            <input type="hidden" class="form-control" id="slidename"
                                   placeholder=""><br>


                        </div>


                    </div>
                    <div class="tab-pane container fade" id="menu2">
                        <div class="row">
                            <div class="form-group col-md-4 left">

                                <label for="">متن</label>
                                <input type="text" class="form-control" id="extraone" v-model="nameBanner"
                                       placeholder=""><br>
                                <label for="">دسته </label>
                                <select class="form-control" id="extratwo" v-model="selectCat">
                                    <option v-for="parent in parents" :value="parent.id">
                                        {{ parent.name }}
                                    </option>
                                </select><br><br>
                                <slot name="dropzone"></slot><br>
                                <input type="hidden" class="form-control" id="demo"
                                       placeholder=""><br>

                            </div>

                        </div>
                    </div>
                </div>
            </div>
            <div class="card-footer">
            </div>
        </div>

    </div>
</template>


<script>
    export default {
        name: "SlideCreate",
        data: function () {
            return {
                brands:[],
                parents:[],
                cats:[],
                nameSlide:'',
                descript:'',
                nameBanner:'',
                selectBrand: [],
                selectCat:[],
                selectParent:[]
            }
        },
        props: [
            'mainbrands',
            'mainparents',
            'maincats'
        ],
        created() {
            this.brands = JSON.parse(this.mainbrands);
            this.parents = JSON.parse(this.mainparents);
            this.cats = JSON.parse(this.maincats);
        },


    }
</script>

<style scoped>

</style>