<template>
    <div class="col-md-12 main">
        <div class="card">
            <div class="card-header text-center">
                <h3>ایجاد کاربر جدید</h3>
            </div>
            <div class="card-body text-right">
                <div class="row">
                    <div class="form-group col-md-4 text-right">
                        <label class="text-right">نام کاربری</label>
                        <input type="text" class="form-control" id="extraone" v-model="fname">
                        <br>
                        <label class="text-right">نام خانوادگی</label>
                        <input type="text" class="form-control" id="extratwo" v-model="lname">
                        <br>
                        <label class="text-right">نقش کاربر</label>
                        <select class="form-control" v-model="role">
                            <option value="1">مدیر</option>
                            <option value="0">کاربر</option>
                        </select>
                        <br>
                        <label class="text-right">ایمیل</label>
                        <input type="email" class="form-control" name="" v-model="email"
                               required>
                        <br>
                        <label class="text-right">کلمه عبور</label>
                        <input type="password" class="form-control" required v-model="password">
                        <br>
                        <slot></slot>
                        <br>
                        <input type="hidden" id="demo" class="form-control" name="" v-model="save">

                        <input type="submit" id="btnAddUser" value="ایجاد کاریر" class="btn btn-primary"
                               @click="addUser">
                    </div>
                    <div class="form-group col-md-4 text-right">

                    </div>
                </div>

            </div>
            <div class="card-footer text-center"></div>
        </div>


    </div>
</template>

<script>
    import {myFunc} from "../../myFunc";

    export default {
        name: "UserCreate",
        data: function () {
            return {
                fname: '',
                lname: '',
                role: '',
                email: '',
                password: '',
                save: ''
            }
        },
        methods: {
            addUser: function (e) {
                    let save = document.getElementById("demo").value;
                    let btn = document.getElementById("btnAddUser");
                    myFunc.saving(btn);
                    var email=this.email;
                    var re = /^(([^<>()\[\]\\.,;:\s@"]+(\.[^<>()\[\]\\.,;:\s@"]+)*)|(".+"))@((\[[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\])|(([a-zA-Z\-0-9]+\.)+[a-zA-Z]{2,}))$/;
                    if (re.test(email)) {
                        axios.post('/admin/user/store', {
                            fname: this.fname,
                            lname: this.lname,
                            role: this.role,
                            email: email,
                            password: this.password,
                            image: save,
                        })
                            .then(function () {
                                let message = this.fname + this.lname;
                                myFunc.flash(message);
                            }.bind(this))
                            .catch(function (error) {
                                alert(error);
                            });
                    } else {
                        e.preventDefault();
                        document.getElementById("btnAddUser").removeEventListener("click", this.addUser);
                        let message = 'فرم را کامل/دقیق پر کنید';
                        myFunc.wrong(message);
                    }
             }
        }
    }
</script>

<style scoped>
    .main {
        margin-top: 30px;
        direction: rtl;
    }

</style>