<template>
    <div class="col-md-12 main">
        <div class="card">
            <div class="card-header text-center">
                <h3>نمایش کاربران</h3>
            </div>
            <div class="card-body text-right">
                <div class="row table-responsive">
                    <table class="table ">
                        <thead>
                        <tr>
                            <th>نام</th>
                            <th>نام خانوادگی</th>
                            <th>ایمیل</th>
                            <th>نقش</th>
                            <th>تصویر</th>
                            <th>وضعیت</th>
                            <th class="text-left text-center">عملیات</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr v-for="user in users">
                            <td>{{ user.name }}</td>
                            <td>{{ user.lname }}</td>
                            <td>{{ user.email }}</td>
                            <td v-if="user.role ==1">
                                مدیر
                            </td>
                            <td v-else="user.role ==0">
                                کاربر
                            </td>
                            <td>
                                <img :src="(user.image) ? user.image :'/images/users/profile-image.jpg'"
                                     width="50px" height="50px">
                            </td>
                            <td>
                                <span v-for="stat in info">
                                     <span v-if="stat.id ==user.id">
                                            <span v-if="stat.status == 1">
                                                 <a href="javascript:;" @click="status(user.id)"
                                                    v-html="activated"></a>
                                            </span>
                                            <span v-else="stat.status == 1">
                                                 <a href="javascript:;" @click="status(user.id)"
                                                    v-html="deactivated"></a>
                                            </span>
                                     </span>
                                </span>
                            </td>
                            <td><input type="submit" class="btn btn-danger btn-sm text-center "
                                       value="حذف" @click="deleteUser(user.id)">
                                <input type="submit" class="btn btn-warning btn-sm text-center"
                                       value="ویرایش" id="myModel" data-target="#modelId"
                                       data-toggle="modal" data-backdrop="true" @click="showUser(user.id)">
                            </td>
                        </tr>
                        </tbody>
                    </table>
                    <div class="modal fade " id="modelId" tabindex="-1" role="dialog"
                         aria-labelledby="modelTitleId"
                         aria-hidden="true">
                        <div class="modal-dialog" role="document">
                            <div class="modal-content">
                                <div class="modal-header bg-info">
                                    <h5 class="modal-title"></h5>
                                    <button type="button" class="close-pro-des" data-dismiss="modal"
                                            aria-label="بستن">
                                        <span aria-hidden="true">&times;</span>
                                    </button>
                                </div>
                                <div class="modal-body">
                                    <div class="row">
                                        <div class="form-group col-md-6 text-right">
                                            <label class="text-right">نام کاربری</label>
                                            <input type="text" class="form-control" id="extraone"
                                                   v-model="fname">
                                            <br>
                                            <label class="text-right">نام خانوادگی</label>
                                            <input type="text" class="form-control" id="extratwo"
                                                   v-model="lname">
                                            <br>
                                            <label class="text-right">نقش کاربر</label>
                                            <select class="form-control" v-model="role" id="uprole">
                                                <option value="1">مدیر</option>
                                                <option value="0">کاربر</option>
                                            </select>
                                            <br><br>
                                        </div>
                                        <div class="form-group col-md-6 text-right">
                                            <label class="text-right">ایمیل</label>
                                            <input type="email" class="form-control" id="upemail"
                                                   v-model="email"
                                                   required>
                                            <br>
                                            <label class="text-right">کلمه عبور</label>
                                            <input type="password" class="form-control" id="uppassword"
                                                   required v-model="password">
                                            <input type="hidden" id="upid" class="form-control" name=""
                                                   v-model="edid">
                                            <br>
                                            <slot></slot>
                                            <br>
                                            <input type="hidden" id="demo" class="form-control" name=""
                                                   v-model="save">
                                            <br><hr>
                                            <input type="submit" id="btnEditUser" value="ویرایش کاریر"
                                                   class="btn btn-primary"
                                                   @click="editUser()">
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="card-footer text-center"></div>
        </div>
    </div>
</template>

<script>
    import {myFunc} from "../../myFunc";
    export default {
        name: "UserShow",
        data: function () {
            return {
                users: [],
                activated: '<i class="fa fa-check-circle" style="color:green"></i>',
                deactivated: '<i class="fa fa-times-circle" style="color:darkred"></i>',
                info: [],
                fname: '',
                lname: '',
                role: [],
                password: '',
                email: '',
                edid: [],
                save: '',
            }
        },
        props: [
            'allusers',
        ],
        created() {
            this.users = JSON.parse(this.allusers);
            this.statuses()
        },
        methods: {
            status(id) {
                var self = this;
                axios.post('/admin/user/status', {
                    id: id,
                })
                    .then(function (response) {
                        self.statuses()
                    })
                    .catch(function (error) {
                        alert(error);
                    });
            },
            statuses() {
                axios.get('/admin/user/status')
                    .then(response => (this.info = response.data));
            },
            deleteUser(id) {
                swal({
                    title: "آیا اطمینان دارید؟",
                    text: "کاربر مورد نظر پاک خواهد شد",
                    icon: "warning",
                    buttons: {
                        cancel: {
                            text: "خیر",
                            value: false,
                            visible: true,
                            closeModal: true,
                        },
                        confirm: {
                            text: "بلی",
                            value: true,
                            visible: true,
                            closeModal: true
                        }
                    }
                })
                    .then((willDelete) => {
                        if (willDelete) {
                            axios.delete(`/admin/user/${id}`, {}).then(function () {
                                location.reload(true);
                            }.bind(this))
                                .catch(function (error) {
                                    alert(error);
                                });
                        } else {
                            swal({
                                buttons: false,
                                title: "انصراف",
                                text: "کاربر محفوظ میباشد",
                                icon: "error",
                                timer: 3000
                            });
                        }
                    });
            },
            showUser(id) {
                var self = this;
                axios.get(`/admin/user/update/${id}`)
                    .then(function (response) {
                        self.fname = response.data.name;
                        self.lname = response.data.lname;
                        self.role = response.data.role;
                        self.password = response.data.password;
                        self.email = response.data.email;
                        self.edid = response.data.id;
                    }).catch(function (error) {
                });
            },
            editUser() {
                let btn = document.getElementById("btnEditUser");
                myFunc.saving(btn);
                var self = this;
                var image = document.getElementById("demo").value;
                axios.post('/admin/user/update', {
                    id: self.edid,
                    fname: self.fname,
                    lname: self.lname,
                    role: self.role,
                    email: self.email,
                    password: self.password,
                    image: image,
                }).then(function (response) {
                   location.reload(true);
                }).catch(function (error) {
                    alert(error);
                })
            }
        },
    }
</script>

<style scoped>
    .btn-danger, .btn-warning {
        position: relative;
        float: left
    }

</style>