<template>
    <div>
        <hr>
        <div class="row px-5 py-2 mt-1 left text-center">
            <div class="col-sm-2 mb-5 ml-5 text-center">
                <div class="row">
                    <div class="col-sm-12 my-2 enmd">
                        <img src="/images/main/enamad.png" width="110px">
                    </div>
                    <div class="col-sm-12  mt-1 enmd">
                        <img src="/images/main/samandehi.png" width="100px">
                    </div>
                </div>

            </div>

            <div class="col-sm-9 text-right">
                <h4> فروشگاه اینترنتی مد و لباس نپال مزون</h4><br>
                <p class="text-black-50 text-justify left">
                    فروشگاه اینترنتی نپال مزون که یک تجربه منحصربه فرد بعد از خرید اینترنتی است، یکی از منحصر ترین
                    مراکز آنلاین عرضه کالا با کیفیت است. در نپال مزون تمامی کالاهای مرتبط با پوشش، با کیفیتی مطلوب و
                    کم نظیر و با قیمتی مناسب ارائه می¬شود. تیم نپال مزون تمام تلاش خود را کرده است تا محصولاتی را که به
                    مشتریان عرضه می¬کند، علاوه بر تناسب با معیارهای ایرانی و اسلامی، زیبایی و اصالت را هم به همراه داشته
                    باشد. تمامی محصولات این سایت از جمله لباس، کفش، زیورآلات و ...  در نهایت دقت و با تلاش
                    متخصصان تیم نپال مزون انتخاب شده و در اختیار خریداران قرار گرفته اند. یکی از اهداف اصلی فروشگاه
                    اینترنتی مد و لباس نپال مزون در کنار برطرف کردن نیاز خرید لباس و خرید کفش و اکسسوری، سریع و مطمئن
                    اینترنتی، معرفی و عرضه کالاهای فاخر ایرانی با کیفیتی کم نظیر و طراحی به روز است. در این راستا سعی شده تا
                    با فروش محصولات تولید داخل کشور در این سایت خریدی مطمئن در کمترین زمان برای
                    خریداران تضمین شود. در کنار تمام محصولات ایرانی شناخته شده و با کیفیت، سعی شده تا با نگاهی دقیق و
                    موشکافانه به فرهنگ و سبک زندگی ایرانی و اسلامی، مزون نپال بعد از تجربه،کار و شناخت سلیقه مشتریان در
                    بسیاری از سایتها به این نتیجه رسید محصولات  در کنار هم قرار گیرند تا با
                    مقایسه محصولات داخلی، بتوانید بنا بر سلیقه خاص خود، تجربه ای به یاد ماندنی از
                    خرید اینترنتی داشته باشید.
                </p>
            </div>

        </div>
    </div>
</template>

<script>
    export default {
        name: "AboutUsMain"
    }
</script>

<style scoped>
    @media screen and (max-width: 600px) {
        .enmd{
            text-align: center;
            position: relative;
            right:20px;
        }
    }

</style>
