<template>
    <div>

        <div class="row left bg-light text-right p-5">
            <div class="col-sm-3">
                <div class="row">
                    <div class="col-sm-12">
                        <h5 class="pr-3 mr-5 pb-2">خدمات مشتریان</h5>
                        <hr>
                        <ul class="custom  pr-3 mr-5 pb-2">
                            <li><a class="custom btn" data-toggle="modal" data-target="#return">رویه بازگرداندن کالا</a></li>
                            <br>
                            <li><a class="custom btn" data-toggle="modal" data-target="#rules">شرایط استفاده</a></li>
                            <br>
                            <li><a class="custom btn"  data-toggle="modal" data-target="#privacy">حریم خصوصی </a></li>
                            <br>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-sm-4">
                <div class="row">
                    <div class="col-sm-12">
                        <h5 class="pr-3 mr-5 pb-2">ثبت نام برای دریافت مشاوره قبل از خرید</h5>
                        <hr>
                        <ul class="custom text-right pr-3 mr-5 pb-2">
                            <li><p class="custom" > با ثبت نام در فرم زیر برای دریافت مشاوره از تیم نپال مزون با شما
                                تماس
                                خواهد گرفته شد</p>
                            </li>
                            <br>
                            <li>
                                <form class="navbar-form navbar-left" action="/index/data" method="get">
                                    <input type="hidden" name="_token" :value="csrf">
                                    <div class="row">
                                        <div class="col-sm-8 form-group pb-2 pl-1">
                                            <input type="text" class="form-control" name="phone" placeholder="شماره تماس شما">
                                        </div>
                                        <div class="col-sm-4 mb-2 pb-2 pr-0">
                                            <input type="hidden" class="form-control" name="name">
                                            <button type="submit" class="btn bgbl w-100">ثبت شماره</button>
                                            <br>
                                        </div>
                                    </div>
                                </form>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-sm-5">
                <div class="row">
                    <div class="col-sm-12">
                        <h5 class="pr-3 mr-5 pb-2">اطلاعات  مزون نپال &nbsp;&nbsp;&nbsp;
                            &nbsp;&nbsp;پشتیبانی 09905773093</h5>
                        <hr>
                        <ul class="custom text-right pr-3 mr-5 pb-2">
                            <li><a class="custom" href="#">تماس با ما</a>
                                <a href="https://instagram.com/nepal_mezon_luxury"><i  class="icon icon-IG"></i></a>
                                <a href="t.me/nepalartgroup"><i  class="icon icon-TG"></i></a>
                                <a href="#"><i  class="icon icon-AP"></i></a>
                            </li>
                            <br>
                            <li><a class="custom" href="#">درباره ما</a></li>
                            <br>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <!-- The Modal -->
        <div class="modal" id="privacy">
            <div class="modal-dialog">
                <div class="modal-content">

                    <!-- Modal Header -->
                    <div class="modal-header left bg-info">
                        حریم خصوصی
                        <button type="button" class="close-pro-modal" data-dismiss="modal">&times;</button>
                    </div>

                    <!-- Modal body -->
                    <div class="modal-body left text-justify" style="direction:rtl">
                        مزون نپال ضمن احترامی که برای حریم شخصی کاربران قائل است، برای خرید، ثبت نظر یا استفاده از برخی امکانات وب سایت اطلاعاتی را از کاربران درخواست می‌کند تا بتواند خدماتی امن و مطمئن را به کاربران ارائه دهد. برای پردازش و ارسال سفارش، اطلاعاتی مانند آدرس، شماره تلفن و ایمیل مورد نیاز است و از آنجا که کلیه فعالیت‌های این سایت قانونی و مبتنی بر قوانین تجارت الکترونیک صورت می‌گیرد و طی فرایند خرید، فاکتور رسمی و بنا به درخواست مشتریان حقوقی گواهی ارزش افزوده صادر می‌شود، از این رو وارد کردن اطلاعاتی مانند نام و کد ملی برای اشخاص حقیقی یا کد اقتصادی و شناسه ملی برای خریدهای سازمانی لازم است. همچنین آدرس ایمیل و تلفن‌هایی که مشتری در پروفایل خود ثبت می‌کند، تنها آدرس ایمیل و تلفن‌های رسمی و مورد تایید مشتری است و تمام مکاتبات و پاسخ‌های شرکت از طریق آنها صورت می‌گیرد.

                        بنابراین درج آدرس، ایمیل و شماره تماس‌های همراه و ثابت توسط مشتری، به منزله مورد تایید بودن صحت آنها است و در صورتی که این موارد به صورت صحیح یا کامل درج نشده باشد، مزون نپال جهت اطمینان از صحت و قطعیت ثبت سفارش می‌تواند از مشتری، اطلاعات تکمیلی و بیشتری درخواست کند.

                        مشتریان می‌توانند نام، آدرس و تلفن شخص دیگری را برای تحویل گرفتن سفارش وارد کنند و مزون نپال تنها برای ارسال همان سفارش، از این اطلاعات استفاده خواهد کرد.
                    </div>

                    <!-- Modal footer -->
                    <div class="modal-footer">
                    </div>

                </div>
            </div>
        </div>
        <!-- The Modal -->
        <div class="modal" id="rules">
            <div class="modal-dialog">
                <div class="modal-content">

                    <!-- Modal Header -->
                    <div class="modal-header left bg-info">
                        شرایط و قوانین استفاده
                        <button type="button" class="pro-close" data-dismiss="modal">&times;</button>
                    </div>

                    <!-- Modal body -->
                    <div class="modal-body left text-justify">

                        ورود کاربران به وب‏‌سایت مزون نپال هنگام استفاده از پروفایل شخصی وسایر خدمات ارائه شده توسط این سایت به معنای آگاه بودن و پذیرفتن شرایط و قوانین و همچنین نحوه استفاده از سرویس‌‏ها و خدمات مزون نپال است. توجه داشته باشید که ثبت سفارش نیز در هر زمان به معنی پذیرفتن کامل کلیه شرایط و قوانین از سوی کاربر است.
                        توجه داشته باشید کلیه اصول و رویه‏‌های مزون نپال منطبق با قوانین جمهوری اسلامی ایران، قانون تجارت الکترونیک و قانون حمایت از حقوق مصرف کننده است و متعاقبا کاربر نیز موظف به رعایت قوانین مرتبط با کاربر است. در صورتی که در قوانین مندرج، رویه‏‌ها و سرویس‏‌های سایت تغییراتی در آینده ایجاد شود، در همین صفحه منتشر و به روز رسانی می شود و شما توافق می‏‌کنید که استفاده مستمر شما از سایت به معنی پذیرش هرگونه تغییر است.
                        درضمن کاربر متعهد می شود تمامی قوانین جمهوری اسلامی را رعایت نموده و در صورت ارایه نظر رعایت تمامی فوانین ادب واحترام را بنماید. در صورت داشتن هر گونه انتقاد، پیشنهادی آنرا هم می تواند به شماره پشتیبانی یا در حساب کاربری خود برای ما ارسال نمایند.
                    </div>

                    <!-- Modal footer -->
                    <div class="modal-footer">
                    </div>

                </div>
            </div>
        </div>

        <!-- The Modal -->
        <div class="modal" id="return">
            <div class="modal-dialog">
                <div class="modal-content">

                    <!-- Modal Header -->
                    <div class="modal-header left bg-info">
                        رویه بازگرداندن کالا
                        <button type="button" class="pro-close" data-dismiss="modal">&times;</button>
                    </div>

                    <!-- Modal body -->
                    <div class="modal-body left text-justify">
                        آسودگی خاطر و رضایت‌مندی مشتریان همواره از اولویت‏‌های مزون نپال بوده است و گروه ما در این راستا می‏‌کوشد تا هر سفارش در شرایط مطلوب و مورد انتظار به دست مشتری برسد. با وجود این ممکن است مشتریان محترم پس از خرید، با مسایلی روبرو شوند که درچنین مواردی خدماتی در چارچوب خدمات پس از فروش در نظر گرفته شده است. با توجه به گستردگی گروه‌های کالای ارایه شده در وب‌سایت نپال آرت گروپ، کلیه محصولاتی که باید از نظر فیزیکی سالم به دست مصرف‌کننده برسند دارای گارانتی اصالت و سلامت فیزیکی هستند و  مشمول ۷ روز مهلت تست و بازگشت کالا نمی‌شوند. همچنین اقلامی که به عنوان هدیه‌ از طرف مزون نپال همراه سفارش ارسال و در فاکتور فروش با مبلغ صفر ریال درج شده‌اند، مشمول ۷ روز ضمانت تعویض نیستند. برای سایر محصولاتی که نیاز به مهلت تست دارند مزون نپال ۷ روز  فرصت برای بازگشت درنظر گرفته است.
                    </div>

                    <!-- Modal footer -->
                    <div class="modal-footer">
                    </div>

                </div>
            </div>
        </div>


    </div>
</template>

<script>
    export default {
        name: "ContactMain",
        data: () => ({
            csrf: document.querySelector('meta[name="csrf-token"]').getAttribute('content'),
        }),
    }
</script>

<style scoped>
    .custom {
        text-decoration: none;
        list-style: none;
        color: gray;
    }

    .custom:hover {
        text-decoration: none;
        color: black;
    }

    .bgbl {
        background-color: #43c8d8;
        color: white;
    }
    .icon {
        background-image: url("/images/main/sns.png");
        background-repeat:no-repeat;
        position: relative;
        display: inline-block;
        vertical-align: middle;
        float:left;
    }
    .icon-IG{
        width: 50px;
        height: 50px;
        background-position-x: -300px;
        background-position-y: -24px;
    }
    .icon-TG{
        width: 50px;
        height: 50px;
        background-position-x: -245px;
        background-position-y: -24px;
    }
    .icon-AP{
        width: 50px;
        height: 50px;
        background-position-x: -190px;
        background-position-y: -24px;
    }


</style>