<template>
    <div>
        <nav class="navbar navbar-expand navbar-light bg-dark left pad-zero">
            <div class="nav navbar-nav row pad-zero">
                <div class="first-data">

                    <a class="nav-item nav-link active text-light" href="#modelId" data-toggle="modal" data-target="#modelId">
                        <i class='far fa-user first-data'></i>
                        ثبت نام / ورود </a>
                </div>
                <div class="second-data">
                    <a class="nav-item nav-link text-light curs" data-toggle="modal" data-target="#myCartList">
                        <i class='fas fa-cart-arrow-down'></i>
                        سبد خرید
                        <slot></slot>
                    </a>
                </div>
                <div class="third-data">
                    <a class="nav-item nav-link text-light" href="#">
                        <i class='fas fa-plus-circle'></i>
                        مجله اینترنتی نپال مزون</a>
                </div>
            </div>
        </nav>
        <div class="topnav left">
            <img class="rounded mx-auto d-block pt-2" src="/images/main/logo.png">
        </div>
    </div>
</template>

<script>
    export default {
        name: "HeaderMainNoSearch"
    }
</script>

<style scoped>

</style>