<template>
    <div>
        <nav class="navbar navbar-expand navbar-light bg-dark left pad-zero">
            <div class="nav navbar-nav row pad-zero">
                <slot name="auth"> </slot>
                <div class="second-data">
                    <a class="nav-item nav-link text-light curs" data-toggle="modal" data-target="#myCartList">
                        <i class='fas fa-cart-arrow-down'></i>
                        سبد خرید
                        <slot></slot>
                    </a>
                </div>
                <div class="third-data">
                    <a class="nav-item nav-link text-light" href="/index" title="بازگشت به صفحه اصلی">
                        <i class="fas fa-store-alt"></i>
                        فروشگاه آنلاین نپال </a>
                </div>
                <span class="result-search-box shadow p-3" v-html="result"></span>
            </div>
        </nav>
        <div class="topnav left">
            <div>
                <input type="text" class="search" placeholder="جستجو" size="35" id="searchField" @change="search()"
                     @focus='visible()' @blur="invisible()">
                <i class="fas fa-search magnifier"></i>
            </div>

            <a href="/index">
            <img class="center" src="/images/main/logo.png">
            </a>
        </div>
    </div>
</template>

<script>
    export default {
        name: "HeaderMain",
        data: function () {
            return {
               result:'',
            }
        },
        methods:{
            search(){
                let search = $('#searchField').val();
                axios.post(`/search`, {
                    data: search,
                })
                    .then((response) => {
                      this.result = response.data;
                    })
                    .catch(function(res) {
                        if(res instanceof Error) {
                            console.log(res.message);
                        } else {
                            console.log(res.data);
                        }
                    });

            },
            visible(){
                $('.result-search-box').css('display','block');
            },
            invisible(){
                setTimeout(function(){
                    $('.result-search-box').css('display','none');
                }, 2000);


            }
        }
    }
</script>

<style scoped>
    .result-search-box{
        position:absolute;
        top:120px;
        right:120px;
        width:250px;
        background-color: white;
        height:auto;
        z-index: 10;
        display:none;
    }

</style>
