<template>
    <div>
        <div>
            <h5 class="text-right pr-5">برخی از برندهای نپال مزون</h5>
        </div>
        <div class="row">
            <div class="col-sm-1"></div>
            <div class="col-sm-10 text-center">
                <div class="row">
                    <div class="col-sm-12 border-1">
                        <img v-for="brand in brands" class="p-3 border-dark grey-brand"
                             :title="brand.name" :src="brand.imagepath"
                             alt="brand.name" width="100px">
                    </div>
                </div>
            </div>
            <div class="col-sm-1"></div>

        </div>
        <div>
            <h5 class="text-center mt-5">نپال مزون را در شبکه های اجتماعی دنبال کنید</h5>
        </div>
        <div class="row social-media p-3 ">
            <div class="col-sm-3"></div>
            <div class="col-sm-3 text-center left pb-3">
                <a class="text-decoration-none" href="#">
                    <img class="p-2" src="/images/main/ig.png" width="50px"><br>
                    <span>صفحه اینستاگرام نپال مزون </span>
                </a>
            </div>
            <div class="col-sm-3 text-center left pb-3">
                <a class="text-decoration-none" href="#">
                    <img class="p-2" src="/images/main/tg.png" width="50px"><br>
                    <span> کانال تلگرام نپال مزون</span>
                </a>
            </div>
            <div class="col-sm-3"></div>
        </div>
    </div>
</template>

<script>
    export default {
        name: "LogoMain",
        data:function () {
            return {
                brands:JSON.parse(this.logos),
            }
        },
        props:['logos']

    }
</script>

<style scoped>
    .grey-brand {
        filter: opacity(.5);
        cursor: pointer;
    }

    .grey-brand:hover {
        filter: opacity(1.0);
    }

    .social-media {
        filter: grayscale(100%);
    }

</style>