<template>
    <div>

        <div class="row">
            <div class="col-sm-2" v-for="producti in product" >
            {{producti.name}}
            </div>

            <div class="col-sm-4">
Hello
            </div>

            <div class="col-sm-4">

            </div>


        </div>
    </div>
</template>

<script>
    export default {
        name: "ProductMain",
        data() {
            return {
                product:[],
                parents: JSON.parse(this.parents),
                groups: JSON.parse(this.groups),
                categories: JSON.parse(this.categories),
                brands: JSON.parse(this.brands),
                slides: JSON.parse(this.slides),
                banners: JSON.parse(this.banners),
                discounts: JSON.parse(this.discounts),
                attrs: JSON.parse(this.attrs),
                attrItems: JSON.parse(this.attrItems),
            }
        },
        props: [
            'products',
            'parents',
            'groups',
            'categories',
            'brands',
            'slides',
            'banners',
            'discounts',
            'attrs',
            'attrItems'
        ],
        created() {
            this.product= JSON.parse(this.products);


        },
    }
</script>

<style scoped>

</style>