<template>
    <div>
    <div class="mt-3 mb-0 p-5 bg-light">
        <h3 class="text-center">با خیال راحت از مزون نپال خرید نمایید</h3>
    </div>
    <div class="row bg-light">
        <div class="col-sm-3 "></div>
        <div class="col-sm-2 text-center">
            <img src="/images/main/original.svg" >
            <h5 class="promise">کالای اورجینال</h5><br>
            <p class="left promise-note">                    نپال مزون گردآورنده برندهای حقیقیست، با اطمینان از اورجینال بودن کالا خرید کنید.
            </p>
        </div>
        <div class="col-sm-2 text-center">
            <img src="/images/main/delivery.svg" >
            <h5 class="promise">تحویل سریع و آسان</h5><br>
            <p class="left promise-note">                    سفارش های بیش از 100 هزار تومان در تهران و بیش از ۲۰۰ هزار تومان در شهرستان را رایگان تحویل بگیرید.
            </p>
        </div>
        <div class="col-sm-2 text-center">
            <img src="/images/main/return.svg" >
            <h5 class="promise">ضمانت بازگشت کالا</h5><br>
            <p class="left promise-note">
                اگر کالا برای شما مناسب نبود تا هفت روز می توانید با یک تماس آن را تعویض کنید.
            </p>
        </div>
        <div class="col-sm-3 "></div>

    </div>
        <br>

    </div>

</template>

<script>
    export default {
        name: "PromiseMain"
    }
</script>

<style scoped>

</style>