<template>
    <div>
    <div class="cycle-slideshow pics"
         data-cycle-fx="scrollHorz"
         data-cycle-swipe=true
         data-cycle-speed=2000
         data-cycle-timeout=4000>
        <div class="cycle-pager"></div>
        <div class="cycle-prev"></div>
        <div class="cycle-next"></div>
        <img v-for="slider in sliders" :src="slider.image">

    </div><hr>
    </div>
</template>

<script>

    export default {
        name: "SliderMain",
        data: function () {
            return {
               sliders: JSON.parse(this.slide),
            }
        },
        props:['slide'],

    };
</script>

<style scoped>

</style>
